/* colors

body #000000
link #1e1e1e
button text #eae8e8
review text #6d6d6d
footer #c5c5c5

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style: none;
}
body {
  color: #1e1e1e;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cardo', serif;
}

.section--dark-bg {
  background-color: #1e1e1e;
}

.header,
.hero {
  background-color: #eae8e8;
  position: relative;
}
.header {
  padding-top: 48px;
  /* background-image: url(images/gradient.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1240px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding-right: 28px;
  padding-left: 25px;
}

.wrap {
  display: flex;
}

nav {
  display: flex;
}

.menu {
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu__link {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Cardo', serif;
  color: #1e1e1e;
  transition: all 300ms ease;
}

.menu__link--active {
  font-weight: 700;
}

.menu__link:not(.menu__link--active):hover {
  text-decoration: underline;
}

.sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232323;
  font-family: 'Lato', sans-serif;
  font-size: 33px;
  line-height: 1.2;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: 3px solid #232323;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.sign-in-btn:hover,
.sign-in-btn:focus {
  background-color: #232323;
  color: #eae8e8;
}

.hero {
  background-image: url(images/hero-light-back.png),
    url(images/hero-dark-back.png);
  background-repeat: no-repeat;
  background-size: 608px 848px, 120px 407px;
  background-position: top 220px left, bottom right;
  background-repeat: no-repeat;

  padding-top: 110px;
  height: 638px;
}

.hero__info {
  max-width: 429px;
}

.hero__title {
  color: #1e1e1e;
  max-width: 429px;
  font-size: 82px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero__text {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 42px;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eae8e8;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  width: 257px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #232323;
  border: 3px solid #232323;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.hero__btn:hover,
.hero__btn:focus {
  color: #232323;
  background-color: #eae8e8;
}

.hero__container {
  display: flex;
  gap: 106px;
}
.hero__image-thumb {
  position: relative;
}
.hero__image {
  position: absolute;
  background-image: url(images/hero.png);
  background-repeat: no-repeat;
  width: 662px;
  height: 419px;
  background-position: center;
  background-size: contain;
}

.banner {
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: url(images/banner-left-back.png),
    url(images/banner-right-back.png);
  background-repeat: no-repeat;
  background-size:433px 164px, 475px 88px;
  background-position: top 50px left, bottom 60px right;
  background-repeat: no-repeat;
}
.container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  text-align: center;
  color: #eae8e8;
  max-width: 438px;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 36px;
}

.banner__text {
  text-align: center;
  color: #eae8e8;
  max-width: 438px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 36px;
}

.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eae8e8;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  width: 257px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: 3px solid #eae8e8;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.banner__button:hover,
.banner__button:focus {
  color: #1e1e1e;
  background-color: #eae8e8;
}

.section-gallery {
  padding-top: 166px;
  padding-bottom: 47px;
  background-color: #eae8e8;
  background-image: url(images/gallery-left-back.png),
    url(images/gallery-right-back.png), url(images/gallery-light-back.png), url(images/gallery-dark-back.png) ;
  background-repeat: no-repeat;
  background-size:47px 798px, 73px 393px, 266px 884px, 424px 108px;
  background-position: top 50px left, top 390px right, top 834px right, top 1467px left 137px;
  background-repeat: no-repeat;
}

.gallery__list {
  display: flex;
  gap: 55px;
  margin-bottom: 535px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  position: relative;
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  max-width: 229px;
  margin-top: 62px;
  margin-bottom: 34px;
}

.gallery__title::before {
  content: '';
  position: absolute;
  top: -29px;
  left: 0;
  width: 53px;
  height: 2px;
  background-color: #1e1e1e;
}

.gallery__text {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.section-gallery__title {
  position: relative;
  max-width: 778px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  font-size: 98px;
  margin-bottom: 70px;
}

.section-gallery__title span {
  text-decoration: underline;
  font-style: italic;
}

.section-gallery__title:before {
  position: absolute;
  background-image: url(images/gallery-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: '';
  width: 73px;
  height: 74px;
  top: -101px;
  left: 50%;
}

.badges {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 268px;
}

.badges__item {
  padding-right: 8px;
  padding-left: 8px;
  transition: all 300ms ease;
}

.badges__item:hover {
  text-decoration: underline;
}

.badges__item:not(:last-child) {
  border-right: 3px solid #1e1e1e;
}

.descr-block {
  display: flex;
  gap: 45px;
}

.picture--small {
  margin-bottom: 78px;
}

.descr-block__text-wrap {
  display: flex;
  gap: 52px;
}

.descr-block__title {
  text-decoration: underline;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.3;
  width: 236px;
  max-width: 236px;
}

.descr-block__text {
  width: 318px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.descr-block__text:first-child {
  margin-bottom: 20px;
}

.section-chose {
  padding-top: 156px;
  padding-bottom: 156px;
  height: 873px;
  background-image: url(images/chose-back.png);
  background-repeat: no-repeat;
  background-size: 523px 144px;
  background-position:  bottom -25px left;
  background-repeat: no-repeat;
}

.chose__container {
  display: flex;
  gap: 111px;
}

.chose__wrap {
  width: 457px;
}

.section-chose__title {
  color: #eae8e8;
  max-width: 457px;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 36px;
}

.section-chose__sub-title {
  color: #eae8e8;
  font-size: 25px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 18px;
}

.section-chose__text {
  color: #e9e7e7;
  text-align: justify;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.block--first {
  margin-bottom: 60px;
}

.chose__image-thumb {
  position: relative;
}
.chose__image {
  position: absolute;
  background-image: url(images/chose-img.png);
  background-repeat: no-repeat;
  width: 757px;
  height: 562px;
  background-position: center;
  background-size: contain;
}

.section-faq {
  background-color: #eae8e8;
  padding-top: 176px;
  padding-bottom: 262px;
}

.faq__container {
  display: flex;
  gap: 82px;
}
.faq-wrap {
  width: 750px;
}
.fa-plus {
  cursor: pointer;
}

.section-faq__title {
  color: #1e1e1e;
  font-size: 82px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 108px;
  width: 750px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-list__item {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1e;
  border-top: 2px solid #1e1e1e;
}

.faq-list__item:last-child {
  border-bottom: 2px solid #1e1e1e;
}

.section-reviews {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #eae8e8;
  background-image: url(images/reviews-left-back.png),
    url(images/reviews-right-back.png);
  background-repeat: no-repeat;
  background-size:334px 172px, 407px 82px;
  background-position: top  left, bottom right;
  background-repeat: no-repeat;
}

.section-reviews__title {
  text-align: center;
  color: #1e1e1e;
  font-size: 82px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 48px;
  width: 750px;
}

.reviews-cards {
  display: flex;
  gap: 24px;
}

.review {
  flex-basis: calc(100% - 48px) / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px;
  border: 3px solid #232323;
  border-radius: 10px;
}

.review__title {
  text-align: center;
  color: #1e1e1e;
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 23px;
  margin-top: 45px;
}

.review__text {
  text-align: center;
  color: #6d6d6d;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.section-reviews-btn {
  position: absolute;
  width: 82px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232323;
  font-size: 30px;
  line-height: 1.2;
  background-color: #eae8e8;
  border: 3px solid #232323;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.section-reviews-btn:hover,
.section-reviews-btn:focus {
  color: #eae8e8;
  background-color: #232323;
}

.reviews__container {
  position: relative;
}

.btn--left {
  left: -20px;
  top: 60%;
}
.btn--right {
  right: -20px;
  top: 60%;
}

.section-subscription {
  padding-top: 100px;
  padding-bottom: 220px;
  background-color: #eae8e8;
}
.subscription__container {
  display: flex;
  gap: 90px;
}
.subscription__wrap {
  width: 455px;
  height: 730px;
}

.subscription__title {
  color: #1e1e1e;
  font-size: 82px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 40px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscription-form__input,
.subscription-form__comment {
  border: 3px solid #1e1e1e;
  border-radius: 10px;
  padding-left: 20px;
  height: 56px;
  background-color: #eae8e8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 21px;
}

.subscription-form__comment {
  padding-top: 10px;
  width: 455px;
  height: 225px;
}
.subscription-form__input::placeholder,
.subscription-form__comment::placeholder {
  font-weight: 400;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}

.subscription-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eae8e8;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  width: 100%;
  height: 52px;
  background-color: #232323;
  border: 3px solid #232323;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 300ms ease;
}

.subscription-form__btn:hover,
.subscription-form__btn:focus {
  color: #232323;
  background-color: #eae8e8;
}

.footer {
  padding-top: 121px;
  padding-bottom: 118px;
  background-color: #c5c5c5;
  background-image: url(images/footer-back.png);
  background-repeat: no-repeat;
  background-size: 396px 146px;
  background-position: bottom 40px left;
}
.footer__nav {
  display: flex;
  gap: 100px;
  margin-bottom: 130px;
}

.footer__logo {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
  font-size: 64px;
  font-weight: 900;
  font-family: 'Cardo', serif;
  flex-basis: 231px;
}

.footer__title {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 53px;
}

.footer__nav-list {
  display: flex;
  column-gap: 60px;
  row-gap: 25px;
  flex-wrap: wrap;
  width: 869px;
}

.footer__item {
  flex-basis: calc((100% - 180px) / 4);
}
.footer__link {
  font-size: 21px;
  font-weight: 400px;
  color: #1e1e1e;
  text-decoration: none;
}

.footer__rights {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  color: #1e1e1e;
}

/*
_________________________________________
Modal styles
_________________________________________

*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(images/registration-back.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-position: center;
  background-size: cover;
}

.modal__form {
  position: absolute;
  padding: 26px 229px;
  margin: 0 auto;
  width: 854px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.32);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  color: #ffffff;
}

.form__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 33px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 33px;
}

.fields__item {
  width: 318px;
}
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.form__input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.form__btn {
  font-family: Outfit, sans-serif;
  border-radius: 15px;
  border: none;
  background-color: #729100;
  font-size: 36px;
  padding: 15px 20px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  transition: background-color ease-in 300ms, color ease-in 300ms;
}

.form__btn:hover {
  color: #729100;
  background-color: #ffffff;
}

.action-btn-list {
  display: flex;
  gap: 20px;
}

.btn--redirect-to-reg {
  color: #729100;
  background-color: #ffffff;
}
.btn--redirect-to-reg:hover {
  background-color: #729100;
  color: #ffffff;
}

.isHidden {
  display: none;
}
